<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/21e74a87-523d-4a15-87e9-8c5eb2df7716/resourceGroups/cloud-shell-storage-eastus/providers/Microsoft.Web/sites/spotcheckcalc2</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://spotcheckcalc2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>spotcheckcalc2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>spotcheckcalc2</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$spotcheckcalc2</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>